* {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style:none;
    background-color:#ececec;
    padding:10px;
}

li:nth-child(even) {
    background-color:#ffffff;
}

/* Helper Classes */
.hide {
    display:none;
}

.center-content {
    margin: 0 auto;
}

.main-content {
    max-width:600px;
}

.answer-img {
    width: 195px;
}

