


header {
    padding:25px 0;
    background-color:#ececec;
}

li {
    display: block;
    list-style: none;
    margin: 15px;
}

button {
    display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.startArea {

}

.goBtn {

}

.question-block {

}
